@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

* {
    font-family: Fjalla One, sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 0.75rem;
    text-align: center;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #e2844a;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: #e2844a;
     padding: 10px 20px;
 }

a {
    margin-right: 30px;
    font-size: 1.2rem;
}

#about-section {
    background-color: #fff;
    padding: 40px;         /* Increase padding */
    margin: 40px;         /* Increase margin */
    width: 90%;          /* Set width relative to viewport */
    max-width: 1200px;   /* Set maximum width */
    margin-left: auto;   /* Center the section */
    margin-right: auto;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#left-section {
    padding: 20px;
    overflow: hidden;
}

#left-section img {
    transition: transform 0.3s ease-in-out;
    width: 100%; /* Make image responsive */
}

#left-section img:hover {
    transform: scale(1.05);
}

#right-section {
    padding: 20px;
}

#social-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
}

#social-media a {
    transition: transform 0.3s ease-in-out;
    margin: 0 10px;
}

#social-media a:hover {
    transform: scale(1.05);
}

.project-card {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card-skills {
    display: flex;
    justify-content: center;
}

.project-card-skills i {
    font-size: 2rem;
    margin-right: 10px;
}

.project-card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

#skill-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

#skill-icons i {
    font-size: 3rem;
    padding: 0.5rem;
    transition: transform 0.3s ease;
    color: #ff9955;
}

#skill-icons i:hover {
    transform: scale(1.1);
}

footer {
    background-color: #e2844a;
}

footer p {
    font-family: 'Press Start 2P', cursive;
}

.fa {
    padding: 15px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 3px;
}

